.card-value{
    font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #FFFFFF;

}
.card-title {
    font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #6CAAD3;
}

span {
    color: white;
}

.box-footer{
    display: flex;
    position: absolute;
    bottom:0;
    width: 194px;
    height: 40px;
    background: #0C2644;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}

.middle-wrapper {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;

}

.box-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}