/*===== Global VARIABLES CSS =====*/
:host {

    /* ===== layout css overwrite ====== */
    --dxp-s-section-content-spacing-block-start:0;
    --dxp-s-section-content-spacing-inline-end: 0;
    --dxp-s-section-content-spacing-block-end:0;
    --dxp-s-section-columns-max-width: 100%;
    --dxp-c-section-columns-max-width: 100%;
  }

  .layout-body{
    /* position: absolute; */
    margin: 0px;
    margin-left: var(--nav-menu-width);
    padding: 0%;
    overflow: hidden;
  }

  .header-container {
    background-color: var(--at-blue-12);
  }

  .slot-container {
    margin: 0;
    padding: 0;
  }