.row {
    background: #001e36;
}

.holder{
    height: 30rem;
}
  
.example ul { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 2px 2px 2px 2px;   
}
  
ul li { 
    list-style: none;
    margin-top: 4px;
    border-radius: 5px;
    height: 6rem;
    text-align: center;
    background-color:#0b294b;
    color:white;    
}
  

.btn {
    width: 150px;
    background-color: #5288ad;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 8px;
  }
  
  .btn2 {border-radius: 4px;}




  /*fdfsdf*/
  .card {
    
    height: 35rem;
    position: absolute;
    border-radius: 5px;
  }
  

  .card:nth-child(1) {
    background-color: #013765;
    z-index: 3;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
  
  
  
  
  }
  
  .card:nth-child(2) {
    background-color: #002e52;
    transform: translate(0%, 6%) scale(0.9, 0.95);
    z-index: 2;
  
  }
  
  .card:nth-child(3) {
    background-color: #002b4d;
    z-index: 1;
    transform: translate(0%, 12%) scale(0.8, 0.9);
  
  }
  
  
  p.white {
    color: white;
  }
  
  p.title {
    color: #336d99;
  }
  
  .btn {
    width: 150px;
    background-color: #5288ad;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 8px;
  }
  
  .btn2 {
    border-radius: 4px;
  }
  
  .insight-widget-card-header {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 3rem;
    align-items: center;
  
  }
  
  .circle {
    background-color: #799a01;
   
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    
    font-size: 15pt;
  
  
  }