.rect{
  /* position: absolute; */
  width: 496px;
  height: 96px;
  background: #0A294A;
  border-radius: 4px;
  
}
.left-icn{
  position: absolute;
  left: 25px;
  top: 26px;
}

div .middle{
  position: absolute;
  left: 90px;
top: 25px;
}
div .mid-up{
  /* position: absolute; */
/* width: 223px; */
height: 24px;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: flex-end;

/* AT WHITE */

color: white;
}

div .mid-bot{
  /* position: absolute; */
width: 146px;
height: 24px;


font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */

display: flex;
align-items: center;

color: #B7C7D3;
}

.right-icn{
  position: absolute;
  left: 450px;
  top:40px;
}
.col{
  position: relative;
  margin-bottom: 4px;
}

.activity-holder {
position: absolute;
top: 50px;
left:80px;
}